Nodered-for-harmony-hub.txt
[{"id":"e12b5057.4a35c","type":"debug","z":"49ea5bd5.47d364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":380,"wires":[]},{"id":"1f486d6f.f31cf3","type":"modbus-read","z":"49ea5bd5.47d364","name":"Harmony Hub","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"10","quantity":"96","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"8c6ef2cb.bd413","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":140,"wires":[["b583ec68.83acc","bb5e5e04.a747","12c30069.ffda9"],[]]},{"id":"b583ec68.83acc","type":"function","z":"49ea5bd5.47d364","name":"PB#1","func":"//33 registers apart\nvar signalstrength_now = msg.payload[34];\nvar signalstrength_previous = flow.get('signalstrength_previous') || signalstrength_now;\nvar pb_changestate;\n\nif (signalstrength_now != signalstrength_previous) {\n    pb_changestate = 1;\n    flow.set('signalstrength_previous',signalstrength_now)\n    return [{payload:pb_changestate}];\n} else {\n    pb_changestate = 0;\n    flow.set('signalstrength_previous',signalstrength_now);\n}\n","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["b4f69151.7014e"]]},{"id":"bb5e5e04.a747","type":"debug","z":"49ea5bd5.47d364","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":380,"wires":[]},{"id":"12c30069.ffda9","type":"function","z":"49ea5bd5.47d364","name":"PB#2","func":"//33 registers apart\nvar signalstrength_now_2 = msg.payload[67];\nvar signalstrength_previous_2 = flow.get('signalstrength_previous_2') || signalstrength_now_2;\nvar pb_changestate;\n\nif (signalstrength_now_2 != signalstrength_previous_2) {\n    pb_changestate = 1;\n    flow.set('signalstrength_previous_2',signalstrength_now_2)\n    return [{payload:pb_changestate}];\n} else {\n    pb_changestate = 0;\n    flow.set('signalstrength_previous_2',signalstrength_now_2);\n}\n","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["e12b5057.4a35c"]]},{"id":"b4f69151.7014e","type":"debug","z":"49ea5bd5.47d364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":200,"wires":[]},{"id":"8c6ef2cb.bd413","type":"modbus-client","z":"","name":"Harmony Hub @192.168.0.10","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"248","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]