OPC UA with PME.txt
[{"id":"6976c139.7e5fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1e2655d.595a48","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://10.184.252.16:49320","keepSessionAlive":false,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"KEPSERVER_PME","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":""},{"id":"8f21750a.9f053","type":"OPCUA-IIoT-Listener","z":"6976c139.7e5fe","connector":"f1e2655d.595a48","action":"subscribe","queueSize":10,"name":"","topic":"","justValue":true,"useGroupItems":false,"showStatusActivities":true,"showErrors":true,"x":380,"y":220,"wires":[["9573d10e.1b3e2","154d427.685ebfe"]]},{"id":"d3bc9eb2.aca29","type":"OPCUA-IIoT-Inject","z":"6976c139.7e5fe","injectType":"listen","payload":"{\"interval\":500,\"queueSize\":10}","payloadType":"json","topic":"","repeat":"","crontab":"","once":true,"startDelay":"5","name":"","addressSpaceItems":[{"name":"Functions","nodeId":"ns=2;s=Channel1.Device1.Tag1","datatypeName":""},{"name":"Functions","nodeId":"ns=2;s=Channel1.Device1.Tag2","datatypeName":""}],"x":87,"y":261.3599853515625,"wires":[["8f21750a.9f053","251148b7.045b7"]]},{"id":"c149e2fb.f939","type":"comment","z":"6976c139.7e5fe","name":"OPC UA Exercise","info":"This Flow Subscribe to changes \non variables in the OPC UA Server","x":480,"y":140,"wires":[]},{"id":"3e382661.660d92","type":"debug","z":"6976c139.7e5fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":440,"wires":[]},{"id":"dbc33d4e.9c3e08","type":"debug","z":"6976c139.7e5fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":60,"wires":[]},{"id":"9573d10e.1b3e2","type":"OPCUA-IIoT-Result-Filter","z":"6976c139.7e5fe","nodeId":"ns=2;s=Channel1.Device1.Tag2","datatype":"UINT16","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":570,"y":300,"wires":[["3e382661.660d92"]]},{"id":"154d427.685ebfe","type":"OPCUA-IIoT-Result-Filter","z":"6976c139.7e5fe","nodeId":"ns=2;s=Channel1.Device1.Tag1","datatype":"UINT16","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":630,"y":200,"wires":[[]]},{"id":"251148b7.045b7","type":"OPCUA-IIoT-Read","z":"6976c139.7e5fe","attributeId":"13","maxAge":1,"depth":1,"connector":"f1e2655d.595a48","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":1,"x":180,"y":160,"wires":[["dbc33d4e.9c3e08"]]}]