Telegram Node Red.txt
[{"id":"bb1286a0.652198","type":"chatbot-telegram-receive","z":"74a3a05e.c7aaf","bot":"eee9be52.3e5ed","botProduction":"","x":210,"y":140,"wires":[["ffaa35f.8bf2bc8"]]},{"id":"948c7e15.a66ca","type":"chatbot-message","z":"74a3a05e.c7aaf","name":"Alarm #1","message":[{"message":"Alarm #1: Machine down."}],"answer":false,"silent":false,"x":480,"y":260,"wires":[["9e9910e2.d8fa2"]]},{"id":"9e9910e2.d8fa2","type":"chatbot-telegram-send","z":"74a3a05e.c7aaf","bot":"eee9be52.3e5ed","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":710,"y":280,"wires":[]},{"id":"ffaa35f.8bf2bc8","type":"chatbot-debug","z":"74a3a05e.c7aaf","x":430,"y":100,"wires":[]},{"id":"58eb140a.da2a2c","type":"inject","z":"74a3a05e.c7aaf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["74f8369b.794728"]]},{"id":"74f8369b.794728","type":"chatbot-conversation","z":"74a3a05e.c7aaf","name":"","botTelegram":"eee9be52.3e5ed","botTelegramProduction":"","botSlack":"","botSlackProduction":"","botFacebook":"","botFacebookProduction":"","botViber":"","botViberProduction":"","botUniversal":"","botUniversalProduction":"","botTwilio":"","botTwilioProduction":"","botDiscord":"","botDiscordProduction":"","chatId":"239354590","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":280,"y":400,"wires":[["948c7e15.a66ca"]]},{"id":"c69d33e1.46187","type":"chatbot-telegram-receive","z":"74a3a05e.c7aaf","bot":"eee9be52.3e5ed","botProduction":"","x":250,"y":40,"wires":[["6017ae17.d54db"]]},{"id":"6017ae17.d54db","type":"chatbot-message","z":"74a3a05e.c7aaf","name":"","message":[{"message":"Hello world!"}],"answer":false,"silent":false,"x":440,"y":40,"wires":[["3dcbfabf.31cf36"]]},{"id":"3dcbfabf.31cf36","type":"chatbot-telegram-send","z":"74a3a05e.c7aaf","bot":"eee9be52.3e5ed","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":490,"y":140,"wires":[]},{"id":"a7c4b156.605f9","type":"chatbot-conversation","z":"74a3a05e.c7aaf","name":"","botTelegram":"eee9be52.3e5ed","botTelegramProduction":"","botSlack":"","botSlackProduction":"","botFacebook":"","botFacebookProduction":"","botViber":"","botViberProduction":"","botUniversal":"","botUniversalProduction":"","botTwilio":"","botTwilioProduction":"","botDiscord":"","botDiscordProduction":"","chatId":"750913254","transport":"telegram","messageId":"","contextMessageId":false,"store":"","x":510,"y":400,"wires":[[]]},{"id":"eee9be52.3e5ed","type":"chatbot-telegram-node","z":"","botname":"IND SESG","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"}]